<div class="row">
  <div class="col s12 center-align">
    <h3>Modifica Intervento</h3>
  </div>
</div>
<div class="divider"></div>


<%= render'gestione_errori' %>

<%= render 'form', {url: clienti_interventi_path(@clienti, @interventi), method: 'patch'} %>

<div class="divider"></div>



<%= debug(params) %>