<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hai un nuovo ticket inserito nel sistema!</h1>
    <p>
      <%= @nome_cliente %> ha appena inserito un nuovo ticket.
    </p>
    <p>Provaaaaaaaaaaaaaa</p>
    <p>
      Collegati a questo indirizzo per entrare nel sistema: <%= @url %>
    </p>
    <p>Have a nice day!</p>
  </body>
</html>