<h1>Editing work</h1>

<%= render 'form', {url: clienti_interventi_work_path, method: 'patch', operator_id: current_utenti.id } %>

<%#= link_to 'Show', @work %> 
<%= link_to 'Indietro', clienti_interventi_path(:id => @interventi), class: 'btn btn-danger' %>

