<!-- start: HEADER -->
		<header>
			

			<div role="navigation" class="navbar navbar-default navbar-fixed-top">
				<!-- start: TOP NAVIGATION CONTAINER -->
				<div class="container">
					<div class="navbar-header">
						<!-- start: RESPONSIVE MENU TOGGLER -->
						<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- end: RESPONSIVE MENU TOGGLER -->
						<!-- start: LOGO -->
						<a class="navbar-brand" href="index.html">
							<!-- CLIP<i class="clip-clip"></i>ONE -->
							Assistenza<i class="fa fa-lightbulb-o"></i>Tecnica
						</a>
						<!-- end: LOGO -->
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="active">
								<%= link_to "home", welcome_prelogin_path %>
							</li>
							
							<li>
								<%= link_to 'Just | One', '#responsive', "data-toggle" => "modal" %>
							</li>

							<li>
								<%= link_to 'Login', welcome_login_path %>
							</li>

						</ul>
					</div>
				</div>
				<!-- end: TOP NAVIGATION CONTAINER -->
			</div>
		</header>
		<!-- end: HEADER -->
		<!-- start: MAIN CONTAINER -->
		<div class="main-container">
			
			
			<section>
				<!-- start: CORE BOXES CONTAINER -->
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="core-box">
								<div class="heading">
									<i class="clip-phone-2 circle-icon circle-green"></i>
									<h2>Richiesta Intervento</h2>
								</div>
								<div class="content">
									Attivando un contratto di assistenza potrai inserire direttamente le tue richieste di intervento.
								</div>
								<a class="view-more" href="#">
									View More <i class="fa fa-angle-right"></i>
								</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="core-box">
								<div class="heading">
									<i class="clip-stack circle-icon circle-teal"></i>
									<h2>Elenco interventi</h2>
								</div>
								<div class="content">
									Dopo il login potrai visualizzare lo storico dei tuoi interventi, in modo da individuare più facilmente le criticità della tua azienda.
								</div>
								<a class="view-more" href="#">
									View More <i class="fa fa-angle-right"></i>
								</a>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="core-box">
								<div class="heading">
									<i class="clip-cogs circle-icon circle-bricky"></i>
									<h2>Just<i class="clip-seven-segment-1"></i> One</h2>
								</div>
								<div class="content">
									JustOne è il servizio offerto per la clientela sprovvista di contratto di assistenza. Alla creazione dell'intervento riceverete via SMS le credenziali per seguire lo stato di lavorazione del singolo caso di intervento.
								</div>
								<a class="view-more" href="#">
									View More <i class="fa fa-angle-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- end: CORE BOXES CONTAINER -->
			</section>
			
			<<!-- <section class="wrapper  padding50 animate-group"> -->
			<section class="wrapper wrapper-grey padding50">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="center">
								Aumenta le tue performance scegliendo i nosti servizi
							</h1>
							<p class="center">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non metus. pulvinar. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nibh.
							</p>
							<hr>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-icon animate" data-animation-options='{"animation":"fadeInLeft", "duration":"600"}'>
									<i class="fa fa-group"></i>
								</div>
								<div class="feature-info">
									<h4>Customer Support</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-icon animate" data-animation-options='{"animation":"fadeInLeft", "duration":"600"}'>
									<i class="fa fa-check"></i>
								</div>
								<div class="feature-info">
									<h4>Problem solving</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="feature-box">
								<div class="feature-icon animate" data-animation-options='{"animation":"fadeInLeft", "duration":"600"}'>
									<i class="fa clip-headphones"></i>
								</div>
								<div class="feature-info">
									<h4>Remote help</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.
									</p>
								</div>
							</div>
						</div>

					</div>



				</div>
			</section>

			<section class="wrapper wrapper-grey padding50">
				
			</section>
			
		
			
			
		</div>
		<!-- end: MAIN CONTAINER -->
		<!-- start: FOOTER -->
		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="newsletter">
							<h4>Newsletter</h4>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.
							</p>
							<form method="POST" action="#" id="newsletterForm">
								<div class="input-group">
									<input type="text" id="email" name="email" placeholder="Email Address" class="form-control">
									<span class="input-group-btn">
										<button type="submit" class="btn btn-default">
											Go!
										</button> </span>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-3">
						<h4>Latest Tweet</h4>
						<div class="twitter" id="tweet">
							<i class="fa fa-twitter"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.
							<a href="#" class="time">
								12 Dec
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="contact-details">
							<h4>Contact Us</h4>
							<ul class="contact">
								<li>
									<p>
										<i class="fa fa-map-marker"></i><strong>Address:</strong> 1234 Street Name, City Name, United States
									</p>
								</li>
								<li>
									<p>
										<i class="fa fa-phone"></i><strong>Phone:</strong> (123) 456-7890
									</p>
								</li>
								<li>
									<p>
										<i class="fa fa-envelope"></i><strong>Email:</strong>
										<a href="mailto:mail@example.com">
											mail@example.com
										</a>
									</p>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-2">
						<h4>Follow Us</h4>
						<div class="social-icons">
							<ul>
								<li class="social-twitter tooltips" data-original-title="Twitter" data-placement="bottom">
									<a target="_blank" href="http://www.twitter.com">
										Twitter
									</a>
								</li>
								<li class="social-facebook tooltips" data-original-title="Facebook" data-placement="bottom">
									<a target="_blank" href="http://facebook.com" data-original-title="Facebook">
										Facebook
									</a>
								</li>
								<li class="social-linkedin tooltips" data-original-title="LinkedIn" data-placement="bottom">
									<a target="_blank" href="http://linkedin.com" data-original-title="LinkedIn">
										LinkedIn
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<a class="logo" href="index.html">
								Gestione Assistenza
							</a>
						</div>
						<div class="col-md-6">
							<p>
								&copy; Copyright 2016 by Francesco Bucci. All Rights Reserved.
							</p>
						</div>
						<div class="col-md-4">
							<nav id="sub-menu">
								<ul>
									<li>
										<a href="#">
											FAQ's
										</a>
									</li>
									<li>
										<a href="#">
											Sitemap
										</a>
									</li>
									<li>
										<a href="#">
											Contact
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<a id="scroll-top" href="#"><i class="fa fa-angle-up"></i></a>
		<!-- end: FOOTER -->


					<!--		Inizio Modal -->
			<div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title">Inserisci i dati per il tuo JustOne</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<%#= form_for :interventi, url: clienti_interventi_path(@clienti, @interventi), method: :patch do |f| %>
								<%#= f.select :operator_id, options_for_select(@tecnici.collect{ |tec| [tec.nome, tec.id] }, @interventi.operator_id ), {include_blank: '--seleziona--'}, class: 'form-control' %>
						</div>
					</div>	
				</div>
				<div class="modal-footer">
								<%#= f.submit 'Salva', :class => 'btn btn-success' %>
							<%# end %>
				</div>
			</div>
			<!-- 	Fine Modal -->
