<!-- start: MAIN CONTAINER -->
<div class="main-container">


	<section class="wrapper wrapper-grey padding50">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					body justone
					<br>
					@cod_cliente = <%= @cod_cliente %> <br>
					@cod_intervento = <%= @cod_intervento %> <br>

					intervento id = <%= @intervento.id if @intervento %>
					
				</div>
			</div>
		</div>		
	</section>
			
				
		
			
			
</div>
<!-- end: MAIN CONTAINER -->