<% if @interventi.errors.any? %>
  <div class="row">
    <div class="col s12">
      <div id="error_explanation">
        <h2>
          <%= pluralize(@interventi.errors.count, "error") %> impediscono l'inserimento dell'intervento:
        </h2>
        <ul>
          <% @interventi.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>