<% if @clienti.errors.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger">
        <h4><%= pluralize(@clienti.errors.count, "error") %> impediscono il salvataggio del cliente: </h4>
        <ul class="list-unstyled">
          <% @clienti.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>