
<div class="footer">
    <div class="container">
        <p class="text-muted" align="center">
            <span style="float: left"></span>
            Realizzato da Francesco Bucci - &copy; 2016 - <a href="mailto:francesco@francescobucci.it?Subject=Contatto%20da%20Gestione%20Laboratorio" target="_top">Email-me</a> - p.iva IT02571310594 
            <span style="float: right"></span>
        </p>
    </div>
</div>