<%= render'gestione_errori' %>

<div class="row">
	<div class="col-md-12">
		<h3><%= @clienti.nome %></h3>
	</div>
</div>


<%= render 'form', {url: clienti_contrattis_path, method: 'nessuno'} %>




<div class="divider"></div>
<%= debug(params) %>
